<div id="white">
    <div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2" id="align-left">
				<p><img src="img/user.png" width="50px" height="50px"> <ba>Sam Moore</ba></p>
				<p><bd>July 9th, 2015</bd></p>
				<h4>A Code Post</h4>
					<pre><code prism class=" language-go">package main

import (
	"fmt"
)

func main() {
	fmt.Println("hello world!!")
}
					</code></pre>
				<br>
				<p><bt>TAGS: <a href="#">Wordpress</a> - <a href="#">Web Design</a></bt></p>
				<hr>
				<p><a href="/#/blog"># Back</a></p>
			</div>

		</div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /white -->

	
	
	